/* screen - howmoworks */

.howmoworks {
  background-color: var(--white);
  height: 5761px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.howmoworks .background-Zwc3st {
  background-color: transparent;
  height: 5761px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.howmoworks .home-how-mo-works-about-mo-contact-us-Zwc3st {
  background-color: transparent;
  font-weight: 500;
  height: 110px;
  left: 1202px;
  letter-spacing: 0.00px;
  line-height: 110px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .rectangle-1-Zwc3st {
  background-color: transparent;
  height: 2px;
  left: 1311px;
  position: absolute;
  top: 112px;
  width: 28px;
}

.howmoworks .memory-oak-Zwc3st {
  background-color: transparent;
  font-weight: 700;
  height: 61px;
  left: 195px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 60px;
  width: auto;
}

.howmoworks .lilly-rum-o-aap-ta-sn-ogc-unsplash-Zwc3st {
  background-color: transparent;
  height: 737px;
  left: 1281px;
  opacity: 0.21;
  position: absolute;
  top: 382px;
  width: 799px;
}

.howmoworks .group-1458-Zwc3st {
  background-color: transparent;
  height: 477px;
  left: 165px;
  position: absolute;
  top: 377px;
  width: 645px;
}

.howmoworks .how-many-issues-of-h-NTnb0F {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 645px;
}

.howmoworks .lorem-ipsum-dolor-si-NTnb0F {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 227px;
  width: 645px;
}

.howmoworks .group-59-NTnb0F {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 265px;
}

.howmoworks .rectangle-50-QN1jVq {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-QN1jVq {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1456-Zwc3st {
  background-color: transparent;
  height: 407px;
  left: 165px;
  position: absolute;
  top: 2235px;
  width: 614px;
}

.howmoworks .manage-your-crypto-portfolio-like-never-2oIzWw {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 578px;
}

.howmoworks .lorem-ipsum-dolor-si-2oIzWw {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 157px;
  width: 614px;
}

.howmoworks .group-1439-2oIzWw {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 287px;
  width: 265px;
}

.howmoworks .rectangle-50-xqCtUk {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-xqCtUk {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1457-Zwc3st {
  background-color: transparent;
  height: 407px;
  left: 973px;
  position: absolute;
  top: 4956px;
  width: 614px;
}

.howmoworks .manage-your-crypto-portfolio-like-never-Gvt6Qj {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 578px;
}

.howmoworks .lorem-ipsum-dolor-si-Gvt6Qj {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 157px;
  width: 614px;
}

.howmoworks .group-1439-Gvt6Qj {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 287px;
  width: 265px;
}

.howmoworks .rectangle-50-Cvcvib {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-Cvcvib {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1452-Zwc3st {
  background-color: transparent;
  height: 407px;
  left: 973px;
  position: absolute;
  top: 1383px;
  width: 645px;
}

.howmoworks .connecting-all-your-banking-needs-l2NHQz {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 583px;
}

.howmoworks .lorem-ipsum-dolor-si-l2NHQz {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 157px;
  width: 645px;
}

.howmoworks .group-1436-l2NHQz {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 287px;
  width: 265px;
}

.howmoworks .rectangle-50-LHL3xT {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-LHL3xT {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1454-Zwc3st {
  background-color: transparent;
  height: 407px;
  left: 165px;
  position: absolute;
  top: 4052px;
  width: 645px;
}

.howmoworks .connecting-all-your-banking-needs-X7xo6I {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 583px;
}

.howmoworks .lorem-ipsum-dolor-si-X7xo6I {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 157px;
  width: 645px;
}

.howmoworks .group-1436-X7xo6I {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 287px;
  width: 265px;
}

.howmoworks .rectangle-50-bUua5Z {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-bUua5Z {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1443-Zwc3st {
  background-color: transparent;
  height: 477px;
  left: 973px;
  position: absolute;
  top: 3104px;
  width: 645px;
}

.howmoworks .how-many-issues-of-h-yYcx2f {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 645px;
}

.howmoworks .lorem-ipsum-dolor-si-yYcx2f {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 227px;
  width: 645px;
}

.howmoworks .group-1436-yYcx2f {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 265px;
}

.howmoworks .rectangle-50-HWXNIw {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 263px;
}

.howmoworks .learn-more-HWXNIw {
  background-color: transparent;
  font-weight: 700;
  height: 26px;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1434-Zwc3st {
  background-color: transparent;
  height: 764px;
  left: 1029px;
  position: absolute;
  top: 266px;
  width: 655px;
}

.howmoworks .group-971-aDCBEX {
  background-color: transparent;
  height: 764px;
  left: 171px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.howmoworks .rectangle-72-6P9Znl {
  background-color: transparent;
  height: 764px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.howmoworks .my_memories_2-6P9Znl {
  background-color: transparent;
  height: 741px;
  left: 10px;
  position: absolute;
  top: 11px;
  width: 339px;
}

.howmoworks .my_memories_2-8xpvTh {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .path-1744-6P9Znl {
  background-color: transparent;
  height: 31px;
  left: 92px;
  position: absolute;
  top: 5px;
  width: 176px;
}

.howmoworks .group-1433-aDCBEX {
  background-color: transparent;
  height: 247px;
  left: 0px;
  position: absolute;
  top: 448px;
  width: 190px;
}

.howmoworks .allef-vinicius-655295-unsplash-bzYWNS {
  background-color: transparent;
  height: 87px;
  left: 30px;
  position: absolute;
  top: 127px;
  width: 130px;
}

.howmoworks .allef-vinicius-655295-unsplash-mqDyk0 {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 130px;
}

.howmoworks .serious-stylish-hips-bzYWNS {
  background-color: transparent;
  height: 147px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 190px;
}

.howmoworks .park-walk-bzYWNS {
  background-color: transparent;
  font-weight: 600;
  height: 24px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 191px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .allef-vinicius-655295-unsplash-71Ic4d {
  background-color: transparent;
  height: 87px;
  left: 30px;
  position: absolute;
  top: 27px;
  width: 130px;
}

.howmoworks .allef-vinicius-655295-unsplash-7UA0VD {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 130px;
}

.howmoworks .serious-stylish-hips-71Ic4d {
  background-color: transparent;
  height: 147px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.howmoworks .park-walk-71Ic4d {
  background-color: transparent;
  font-weight: 600;
  height: 24px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 91px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1431-aDCBEX {
  background-color: transparent;
  height: 334px;
  left: 306px;
  position: absolute;
  top: 156px;
  width: 349px;
}

.howmoworks .rectangle-71-11Q4ip {
  background-color: transparent;
  height: 334px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 349px;
}

.howmoworks .group-1430-11Q4ip {
  background-color: transparent;
  height: 249px;
  left: 42px;
  position: absolute;
  top: 40px;
  width: 265px;
}

.howmoworks .gorgeous-white-girl-qe9Zco {
  background-color: transparent;
  height: 201px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 265px;
}

.howmoworks .gorgeous-white-girl-KYBmJD {
  background-color: transparent;
  height: 201px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 265px;
}

.howmoworks .group-1429-qe9Zco {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 147px;
}

.howmoworks .group-1428-C6UqNH {
  background-color: transparent;
  height: 36px;
  left: 45px;
  position: absolute;
  top: 2px;
  width: 102px;
}

.howmoworks .lucca-persimmon-IpTwLr {
  background-color: transparent;
  color: #343434;
  font-family: var(--font-family-quicksand);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 18px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .x24-feb-2022-IpTwLr {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: var(--font-family-quicksand);
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .look-floor-pleased-b-C6UqNH {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}

.howmoworks .look-floor-pleased-b-kasf8w {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}

.howmoworks .subtraction-1-Zwc3st {
  background-color: transparent;
  height: 201px;
  left: 1716px;
  position: absolute;
  top: 885px;
  width: 408px;
}

.howmoworks .subtraction-2-Zwc3st {
  background-color: transparent;
  height: 201px;
  left: 1813px;
  position: absolute;
  top: 2622px;
  width: 408px;
}

.howmoworks .ellipse-24-Zwc3st {
  background-color: transparent;
  height: 102px;
  left: 1735px;
  position: absolute;
  top: 868px;
  width: 102px;
}

.howmoworks .ellipse-25-Zwc3st {
  background-color: transparent;
  height: 509px;
  left: 306px;
  opacity: 0.31;
  position: absolute;
  top: 1315px;
  width: 509px;
}

.howmoworks .path-1744-Zwc3st {
  background-color: transparent;
  height: 31px;
  left: 430px;
  position: absolute;
  top: 1193px;
  width: 176px;
}

.howmoworks .rectangle-72-Zwc3st {
  background-color: transparent;
  height: 764px;
  left: 293px;
  position: absolute;
  top: 1188px;
  width: 360px;
}

.howmoworks .user_profile-Zwc3st {
  background-color: transparent;
  height: 741px;
  left: 303px;
  position: absolute;
  top: 1199px;
  width: 339px;
}

.howmoworks .user_profile-XodAWA {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .group-1460-Zwc3st {
  background-color: transparent;
  height: 169px;
  left: 215px;
  position: absolute;
  top: 1485px;
  width: 264px;
}

.howmoworks .soheil-kmp-67-pviandjok-unsplash-50pyco {
  background-color: transparent;
  height: 106px;
  left: 31px;
  position: absolute;
  top: 29px;
  width: 202px;
}

.howmoworks .soheil-kmp-67-pviandjok-unsplash-GojLDb {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 202px;
}

.howmoworks .serious-stylish-hips-50pyco {
  background-color: transparent;
  height: 169px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 266px;
}

.howmoworks .park-walk-50pyco {
  background-color: transparent;
  font-weight: 600;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 110px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .path-1745-Zwc3st {
  background-color: transparent;
  height: 31px;
  left: 385px;
  position: absolute;
  top: 1194px;
  width: 176px;
}

.howmoworks .group-1451-Zwc3st {
  background-color: transparent;
  height: 803px;
  left: 1199px;
  position: absolute;
  top: 2020px;
  width: 720px;
}

.howmoworks .rectangle-76-ZS0sb5 {
  background-color: transparent;
  height: 430px;
  left: 101px;
  opacity: 0.2;
  position: absolute;
  top: 373px;
  width: 620px;
}

.howmoworks .rectangle-72-ZS0sb5 {
  background-color: transparent;
  height: 764px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.howmoworks .comments-ZS0sb5 {
  background-color: transparent;
  height: 741px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 339px;
}

.howmoworks .comments-o8qBsR {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .path-1744-ZS0sb5 {
  background-color: transparent;
  height: 31px;
  left: 93px;
  position: absolute;
  top: 5px;
  width: 176px;
}

.howmoworks .ellipse-26-ZS0sb5 {
  background-color: transparent;
  height: 102px;
  left: 555px;
  position: absolute;
  top: 585px;
  width: 102px;
}

.howmoworks .rectangle-74-ZS0sb5 {
  background-color: transparent;
  height: 120px;
  left: 22px;
  position: absolute;
  top: 488px;
  width: 316px;
}

.howmoworks .rectangle-75-ZS0sb5 {
  background-color: transparent;
  height: 250px;
  left: 57px;
  position: absolute;
  top: 454px;
  width: 524px;
}

.howmoworks .group-1441-ZS0sb5 {
  background-color: transparent;
  height: 89px;
  left: 140px;
  position: absolute;
  top: 519px;
  width: 358px;
}

.howmoworks .im-doing-a-long-esta-iYyA2h {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 288px;
}

.howmoworks .group-1440-iYyA2h {
  background-color: transparent;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 143px;
}

.howmoworks .adult-business-businessman-2182970-3GWNnd {
  background-color: transparent;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 55px;
}

.howmoworks .adult-business-businessman-2182970-cZja8g {
  background-color: transparent;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 55px;
}

.howmoworks .group-1404-3GWNnd {
  background-color: transparent;
  height: 45px;
  left: 70px;
  position: absolute;
  top: 8px;
  width: 73px;
}

.howmoworks .john-deo-2bHvwV {
  background-color: transparent;
  color: #0f1012;
  font-family: var(--font-family-quicksand);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .x2-hrs-ago-2bHvwV {
  background-color: transparent;
  color: #828282;
  font-family: var(--font-family-quicksand);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1459-Zwc3st {
  background-color: transparent;
  height: 764px;
  left: 149px;
  position: absolute;
  top: 2944px;
  width: 660px;
}

.howmoworks .ellipse-28-IhDy9L {
  background-color: transparent;
  height: 648px;
  left: 0px;
  opacity: 0.31;
  position: absolute;
  top: 78px;
  width: 648px;
}

.howmoworks .path-1747-IhDy9L {
  background-color: transparent;
  height: 31px;
  left: 281px;
  position: absolute;
  top: 5px;
  width: 176px;
}

.howmoworks .rectangle-72-IhDy9L {
  background-color: transparent;
  height: 764px;
  left: 144px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.howmoworks .people-IhDy9L {
  background-color: transparent;
  height: 741px;
  left: 154px;
  position: absolute;
  top: 11px;
  width: 339px;
}

.howmoworks .people-WGxQGA {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .path-1746-IhDy9L {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 6px;
  width: 176px;
}

.howmoworks .rectangle-79-IhDy9L {
  background-color: transparent;
  height: 109px;
  left: 165px;
  position: absolute;
  top: 366px;
  width: 313px;
}

.howmoworks .group-1444-IhDy9L {
  background-color: transparent;
  height: 227px;
  left: 184px;
  position: absolute;
  top: 318px;
  width: 476px;
}

.howmoworks .rectangle-78-rBd1YT {
  background-color: transparent;
  height: 227px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 476px;
}

.howmoworks .adult-business-businessman-2182970-rBd1YT {
  background-color: transparent;
  height: 67px;
  left: 83px;
  position: absolute;
  top: 65px;
  width: 67px;
}

.howmoworks .adult-business-businessman-2182970-ftxTmL {
  background-color: transparent;
  height: 67px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.howmoworks .jennifer-lawrence-rBd1YT {
  background-color: transparent;
  color: #0f1012;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: 23px;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 87px;
  width: auto;
}

.howmoworks .group-1455-Zwc3st {
  background-color: transparent;
  height: 764px;
  left: 1192px;
  position: absolute;
  top: 3857px;
  width: 608px;
}

.howmoworks .ellipse-27-O2GKRf {
  background-color: transparent;
  height: 598px;
  left: 18px;
  opacity: 0.2;
  position: absolute;
  top: 166px;
  width: 598px;
}

.howmoworks .rectangle-80-O2GKRf {
  background-color: transparent;
  height: 764px;
  left: 8px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.howmoworks .edit_account-O2GKRf {
  background-color: transparent;
  height: 741px;
  left: 18px;
  position: absolute;
  top: 11px;
  width: 339px;
}

.howmoworks .edit_account-2x9nw3 {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .path-1748-O2GKRf {
  background-color: transparent;
  height: 31px;
  left: 100px;
  position: absolute;
  top: 5px;
  width: 176px;
}

.howmoworks .rectangle-82-O2GKRf {
  background-color: transparent;
  height: 214px;
  left: 29px;
  position: absolute;
  top: 394px;
  width: 316px;
}

.howmoworks .group-1446-O2GKRf {
  background-color: transparent;
  height: 110px;
  left: 61px;
  position: absolute;
  top: 605px;
  width: 254px;
}

.howmoworks .rectangle-10-WipIhk {
  background-color: transparent;
  height: 110px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 252px;
}

.howmoworks .save-change-WipIhk {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-quicksand);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 26px;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .group-1448-O2GKRf {
  background-color: transparent;
  height: 221px;
  left: 0px;
  position: absolute;
  top: 363px;
  width: 509px;
}

.howmoworks .rectangle-78-o6WDlC {
  background-color: transparent;
  height: 219px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 507px;
}

.howmoworks .group-1447-o6WDlC {
  background-color: transparent;
  height: 51px;
  left: 88px;
  position: absolute;
  top: 70px;
  width: 333px;
}

.howmoworks .last-name-xsYf40 {
  background-color: transparent;
  color: var(--gunsmoke);
  font-family: var(--font-family-quicksand);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .ayala-xsYf40 {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: 16px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .line-28-xsYf40 {
  background-color: transparent;
  height: 2px;
  left: -0px;
  position: absolute;
  top: 49px;
  width: 332px;
}

.howmoworks .vuesaxlinearclose-circle-xsYf40 {
  background-color: transparent;
  height: 18px;
  left: 315px;
  position: absolute;
  top: 24px;
  width: 18px;
}

.howmoworks .close-circle-QU0btN {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 18px;
}

.howmoworks .vector-8tUNES {
  background-color: transparent;
  height: 18px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 18px;
}

.howmoworks .vector-xxOHM3 {
  background-color: transparent;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 8px;
}

.howmoworks .vector-9g6oD2 {
  background-color: transparent;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 8px;
}

.howmoworks .ellipse-29-Zwc3st {
  background-color: transparent;
  height: 648px;
  left: 149px;
  opacity: 0.31;
  position: absolute;
  top: 4839px;
  width: 648px;
}

.howmoworks .path-1749-Zwc3st {
  background-color: transparent;
  height: 31px;
  left: 430px;
  position: absolute;
  top: 4766px;
  width: 176px;
}

.howmoworks .rectangle-83-Zwc3st {
  background-color: transparent;
  height: 764px;
  left: 293px;
  position: absolute;
  top: 4761px;
  width: 360px;
}

.howmoworks .memory-details-Zwc3st {
  background-color: transparent;
  height: 741px;
  left: 303px;
  position: absolute;
  top: 4772px;
  width: 339px;
}

.howmoworks .memory-details-gonotK {
  background-color: transparent;
  height: 741px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.howmoworks .memory-details-mxwklB {
  background-color: transparent;
  height: 50px;
  left: 303px;
  position: absolute;
  top: 4772px;
  width: 339px;
}

.howmoworks .path-1750-Zwc3st {
  background-color: transparent;
  height: 31px;
  left: 385px;
  position: absolute;
  top: 4767px;
  width: 176px;
}

.howmoworks .group-1450-Zwc3st {
  background-color: transparent;
  height: 205px;
  left: 309px;
  position: absolute;
  top: 5362px;
  width: 532px;
}

.howmoworks .rectangle-78-cBC3bR {
  background-color: transparent;
  height: 203px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 530px;
}

.howmoworks .group-1367-cBC3bR {
  background-color: transparent;
  height: 72px;
  left: 62px;
  position: absolute;
  top: 55px;
  width: 377px;
}

.howmoworks .rectangle-87-YiPvTv {
  background-color: transparent;
  height: 11px;
  left: 31px;
  opacity: 0.15;
  position: absolute;
  top: 28px;
  width: 345px;
}

.howmoworks .rectangle-50-YiPvTv {
  background-color: transparent;
  height: 70px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 200px;
}

.howmoworks .line-42-YiPvTv {
  background-color: transparent;
  height: 14px;
  left: 34px;
  position: absolute;
  top: 26px;
  width: 15px;
}

.howmoworks .line-43-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 44px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-44-YiPvTv {
  background-color: transparent;
  height: 14px;
  left: 56px;
  position: absolute;
  top: 26px;
  width: 15px;
}

.howmoworks .line-45-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 66px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-46-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 78px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-47-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 88px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-48-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 100px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-49-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 110px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-50-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 122px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-51-YiPvTv {
  background-color: transparent;
  height: 14px;
  left: 132px;
  position: absolute;
  top: 26px;
  width: 15px;
}

.howmoworks .line-52-YiPvTv {
  background-color: transparent;
  height: 15px;
  left: 144px;
  position: absolute;
  top: 26px;
  width: 14px;
}

.howmoworks .line-53-YiPvTv {
  background-color: transparent;
  height: 14px;
  left: 154px;
  position: absolute;
  top: 26px;
  width: 15px;
}

.howmoworks .x2022-memory-oak-all-rights-reserved-Zwc3st {
  background-color: transparent;
  font-weight: 600;
  height: 100px;
  left: 798px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 5705px;
  white-space: nowrap;
  width: auto;
}

.howmoworks .path-1734-Zwc3st {
  background-color: transparent;
  height: 55px;
  left: 220px;
  position: absolute;
  top: 192px;
  transform: rotate(90deg);
  width: 5px;
}

.howmoworks .how-mo-works-Zwc3st {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 280px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 191px;
  width: auto;
}
