/* screen - landingpage */

.landingpage {
  background-color: var(--white);
  height: 100vh;
  position: relative;
  width: 100%;
}

.landingpage .background-gWO6r4 {
  background-color: transparent;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.landingpage .path-59-gWO6r4 {
  background-color: transparent;
  height: 93vh;
  left: 52%;
  opacity: 0.1;
  position: absolute;
  width: 48%;
}

.landingpage .pexels-anna-shvets-5325922-gWO6r4 {
  background-color: transparent;
  height: 3.61vh;
  left: 52.49vw;
  position: absolute;
  top: 50.56vh;
  transform: rotate(90deg);
  width: 15.82vw;
}

.landingpage .pexels-anna-shvets-5325922-MEArml {
  background-color: transparent;
  height: 3.7vh;
  left: 64.78vw;
  position: absolute;
  top: 64.63vh;
  width: 15.82vw;
}

.landingpage .pexels-anna-shvets-5325922-gwij7H {
  background-color: transparent;
  height: 3.8vh;
  left: 73.53vw;
  position: absolute;
  top: 64.35vh;
  transform: rotate(90deg);
  width: 15.88vw;
}

.landingpage .pexels-anna-shvets-5325922-qJwAPG {
  background-color: transparent;
  height: 3.8vh;
  left: 64.78vw;
  position: absolute;
  top: 41.02vh;
  width: 15.82vw;
}

.landingpage .memory-oak-gWO6r4 {
  background-color: transparent;
  font-weight: 700;
  height: 5.65vh;
  left: 4vw;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 5.56vh;
  width: auto;
  color: #021639;
}

.landingpage .choose-your-future-w-gWO6r4 {
  background-color: transparent;
  color: #1F1F1F;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 27.22vh;
  left: 4vw;
  letter-spacing: 0.00px;
  line-height: 9.26vh;
  position: absolute;
  text-align: left;
  top: 24.44vh;
  width: 40vw;
}

.landingpage .home-how-mo-works-about-mo-contact-us-gWO6r4 {
  background-color: transparent;
  color: #d06eff;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 10.19vh;
  left: 62.65vw;
  letter-spacing: 0.00px;
  line-height: 10.19vh;
  position: absolute;
  text-align: left;
  top: 7.41vh;
  white-space: nowrap;
  width: auto;
}

.landingpage .there-are-many-varia-gWO6r4 {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 4vw;
  letter-spacing: 0.00px;
  line-height: 2.96vh;
  position: absolute;
  text-align: left;
  top: 55.19vh;
  width: 32.07vw;
}

.landingpage .pexels-anna-shvets-5325922-GfxgQI {
  background-color: transparent;
  height: 20.65vh;
  left: 72.65vw;
  position: absolute;
  top: 34.54vh;
  width: 17.33vw;
}

.landingpage .pexels-anna-shvets-5325922-tZot7k {
  background-color: transparent;
  height: 20.65vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17.33vw;
}

.landingpage .pexels-anna-shvets-5325756-gWO6r4 {
  background-color: transparent;
  height: 20.65vh;
  left: 49.57vw;
  position: absolute;
  top: 53.43vh;
  width: 17.33vw;
}

.landingpage .pexels-anna-shvets-5325756-Kt5kxB {
  background-color: transparent;
  height: 20.65vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17.33vw;
}

.landingpage .pexels-anna-shvets-5325610-gWO6r4 {
  background-color: transparent;
  height: 25.74vh;
  left: 49.57vw;
  position: absolute;
  top: 23.89vh;
  width: 21.55vw;
}

.landingpage .pexels-anna-shvets-5325610-zWMZvD {
  background-color: transparent;
  height: 25.74vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21.55vw;
}

.landingpage .pexels-anna-shvets-5325765-gWO6r4 {
  background-color: transparent;
  height: 25.74vh;
  left: 68.43vw;
  position: absolute;
  top: 58.98vh;
  width: 21.55vw;
}

.landingpage .pexels-anna-shvets-5325765-gI7GO1 {
  background-color: transparent;
  height: 25.74vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21.55vw;
}

.landingpage .group-1-gWO6r4 {
  background-color: transparent;
  height: 6vh;
  left: 4vw;
  position: absolute;
  top: 69.81vh;
  width: 21.03vw;
}

.landingpage .images-2-pvtwL7 {
  background-color: transparent;
  height: 6vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10.2vw;
}

.landingpage .images-2-dDZ8Yn {
  background-color: transparent;
  height: 6vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10.2vw;
}

.landingpage .download-pvtwL7 {
  background-color: transparent;
  height: 6vh;
  left: 10.82vw;
  position: absolute;
  top: 0px;
  width: 10.2vw;
}

.landingpage .download-o8GmfQ {
  background-color: transparent;
  height: 6vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10.2vw;
}

.landingpage .x2022-memory-oak-all-rights-reserved-gWO6r4 {
  background-color: transparent;
  font-weight: 600;
  height: 9.26vh;
  left: 41.55vw;
  letter-spacing: 0.00px;
  line-height: 9.26vh;
  position: absolute;
  text-align: left;
  top: 89vh;
  white-space: nowrap;
  width: auto;
}

.landingpage .ellipse-17-gWO6r4 {
  background-color: transparent;
  height: 13.33vh;
  left: -2.7vw;
  opacity: 0.3;
  position: absolute;
  top: 82.41vh;
  width: 7.49vw;
}

.landingpage .rectangle-1-gWO6r4 {
  background-color: transparent;
  height: .19vh;
  left: 62.65vw;
  position: absolute;
  top: 10.37vh;
  width: 1.46vw;
}

.Oak-title {
  color: #D06FFF;
  display: initial;
}
