/* screen - termsandconditions */

.termsandconditions {
  background-color: var(--white);
  height: 3156px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.termsandconditions .background-kuafbu {
  background-color: transparent;
  height: 3156px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.termsandconditions .path-1734-kuafbu {
  background-color: transparent;
  height: 55px;
  left: 220px;
  position: absolute;
  top: 192px;
  transform: rotate(90deg);
  width: 5px;
}

.termsandconditions .memory-oak-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 61px;
  left: 195px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 60px;
  width: auto;
}

.termsandconditions .home-how-mo-works-about-mo-contact-us-kuafbu {
  background-color: transparent;
  font-weight: 500;
  height: 110px;
  left: 1203px;
  letter-spacing: 0.00px;
  line-height: 110px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.termsandconditions .lilly-rum-o-aap-ta-sn-ogc-unsplash-kuafbu {
  background-color: transparent;
  height: 850px;
  left: 165px;
  position: absolute;
  top: 280px;
  width: 368px;
}

.termsandconditions .general-site-usage-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 347px;
  width: auto;
}

.termsandconditions .last-revised-28-feb-2022-kuafbu {
  background-color: transparent;
  color: #d06eff;
  font-family: var(--font-family-quicksand);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 23px;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 308px;
  white-space: nowrap;
  width: auto;
}

.termsandconditions .lorem-ipsum-dolor-si-kuafbu {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 424px;
  width: 1162px;
}

.termsandconditions .why-is-the-terms-and-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 876px;
  width: auto;
}

.termsandconditions .disclaimer-and-limits-liability-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 1645px;
  width: auto;
}

.termsandconditions .how-can-design-make-it-better-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2565px;
  width: auto;
}

.termsandconditions .why-do-users-ignore-it-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2163px;
  width: auto;
}

.termsandconditions .privacy-policy-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 1934px;
  width: auto;
}

.termsandconditions .include-summarised-t-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2854px;
  width: auto;
}

.termsandconditions .lorem-ipsum-dolor-si-tUXvjx {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1433px;
  width: 1162px;
}

.termsandconditions .sed-tristique-mattis-kuafbu {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 601px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1037px;
  width: 1124px;
}

.termsandconditions .sed-tristique-mattis-tUXvjx {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 601px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1227px;
  width: 1124px;
}

.termsandconditions .lorem-ipsum-dolor-si-VWjC7k {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 601px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1112px;
  width: 1124px;
}

.termsandconditions .lorem-ipsum-dolor-si-nagPhb {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 601px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1304px;
  width: 1124px;
}

.termsandconditions .group-2-kuafbu {
  background-color: transparent;
  height: 26px;
  left: 563px;
  position: absolute;
  top: 1035px;
  width: 26px;
}

.termsandconditions .ellipse-18-3XCh2F {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.termsandconditions .ellipse-19-3XCh2F {
  background-color: transparent;
  height: 12px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.termsandconditions .group-4-kuafbu {
  background-color: transparent;
  height: 26px;
  left: 563px;
  position: absolute;
  top: 1225px;
  width: 26px;
}

.termsandconditions .ellipse-18-AONYje {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.termsandconditions .ellipse-19-AONYje {
  background-color: transparent;
  height: 12px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.termsandconditions .group-3-kuafbu {
  background-color: transparent;
  height: 26px;
  left: 563px;
  position: absolute;
  top: 1110px;
  width: 26px;
}

.termsandconditions .ellipse-18-hSuYEf {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.termsandconditions .ellipse-19-hSuYEf {
  background-color: transparent;
  height: 12px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.termsandconditions .group-5-kuafbu {
  background-color: transparent;
  height: 26px;
  left: 563px;
  position: absolute;
  top: 1302px;
  width: 26px;
}

.termsandconditions .ellipse-18-JLuXxu {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.termsandconditions .ellipse-19-JLuXxu {
  background-color: transparent;
  height: 12px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.termsandconditions .sed-tristique-mattis-VWjC7k {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 953px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-gbHs0f {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1722px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-cxYynx {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2240px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-laZSxX {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2642px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-5BysJX {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2011px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-LpwE4J {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2413px;
  width: 1162px;
}

.termsandconditions .lorem-ipsum-dolor-si-3fqEJy {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2931px;
  width: 1162px;
}

.termsandconditions .x2022-memory-oak-all-rights-reserved-kuafbu {
  background-color: transparent;
  font-weight: 600;
  height: 100px;
  left: 798px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 3100px;
  white-space: nowrap;
  width: auto;
}

.termsandconditions .terms-and-conditions-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 56px;
  left: 280px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 191px;
  width: auto;
}

.termsandconditions .rectangle-51-kuafbu {
  background-color: transparent;
  height: 70px;
  left: 195px;
  opacity: 0.59;
  position: absolute;
  top: 477px;
  width: 308px;
}

.termsandconditions .path-1751-kuafbu {
  background-color: transparent;
  height: 70px;
  left: 195px;
  position: absolute;
  top: 477px;
  width: 2px;
}

.termsandconditions .accepting-termschang-kuafbu {
  background-color: transparent;
  font-weight: 700;
  height: 696px;
  left: 235px;
  letter-spacing: 0.00px;
  line-height: 75px;
  position: absolute;
  text-align: left;
  top: 352px;
  width: auto;
}
